@keyframes loading {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@-moz-keyframes loading {
    to {
        opacity: 0;
    }
}

@keyframes slide {
    to {
        margin-left: 90%;
    }

}

@-moz-keyframes slide {
    to {
        margin-left: 90%;
    }

}

@-webkit-keyframes slide {
    to {
        margin-left: 90%;
    }
}

@-ms-keyframes slide {
    to {
        margin-left: 90%;
    }
}

@-o-keyframes slide {
    to {
        margin-left: 90%;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes delais {

    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }

    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes delais {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }

    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1);
    }
}


@-moz-keyframes delais {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }

    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1);
    }
}


@keyframes coeur {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }

    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.stage-1 {
    animation: delais;
    animation-timing-function: cubic-bezier (0.5, 1.58, 0.34, 0.82);
}

.stage-2 {
    animation: delais;
    animation-timing-function: cubic-bezier (0.5, 1.58, 0.34, 0.82);
}

.stage-3 {
    animation: delais;
    animation-timing-function: cubic-bezier (0.5, 1.58, 0.34, 0.82);
}

@for $i from 1 to 3 {
    .stage-#{$i} {
        animation: delais;
        animation-delay: ($i*3)s;
    }
}