@keyframes slideup {
    0% {
        transform: translateY(300px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes run-spinner {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        position: absolute;
    }
}

@keyframes red-spinner {
    from {
        opacity: 1;
        transform: rotate(360deg);
    }

    to {
        opacity: 0;
        visibility: visible;
        transform: rotate(0deg);
    }
}

@keyframes coeur {
    0% {
        transform: scale3d(1, 1, 1);
    }

    35% {
        transform: scale3d(1.4, 1.4, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1);
    }

    65% {
        transform: scale3d(1.2, 1.2, 1);
    }

    80% {
        transform: scale3d(1.4, 1.4, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}