@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@media (max-width: 768px) {
  body {
    max-width: 768 px;
    font-family: "Roboto", "shrikhand";
    opacity: 10;
    -webkit-animation: run-spinner 3s;
            animation: run-spinner 3s;
  }
  header {
    align-items: center;
    font-size: 14px;
  }
  #Logo {
    max-width: 45%;
    font-size: 20px;
    padding: 20px 15px 30px 35px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 20%;
    top: 1%;
  }
  .localisation {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #c5c1c1;
    background-color: #e4e2e1;
    padding-left: 20px;
    margin: 80px 0 10px 0;
  }
  .icone-maps {
    margin-right: 15px;
  }
  .localisation-txt {
    border: none;
    background-color: #e4e2e1;
    -webkit-text-decoration: #000000;
            text-decoration: #000000;
    font-size: 16px;
    font-weight: bold;
  }
  .titre-du-site {
    display: flex;
    justify-content: center;
    font-size: 28px;
    text-align: center;
    overflow: hidden;
    margin-top: 20px;
    padding: 40px 40px 0px 40px;
  }
  h1 {
    display: flex;
    font-size: 20px;
    margin-top: 60px;
    justify-content: center;
  }
  .petit-texte {
    max-width: 100%;
    display: flex;
    text-align: center;
    overflow: hidden;
    margin-left: 40px;
    justify-content: center;
  }
  /*
      .loadspinner {
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 100%;
          animation: run-spinner 1s forwards;
          animation-delay: 2.5s;
          animation-fill-mode: both;
          z-index: 999;
      }
      .spinner {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 8px solid $color-three;
          border-top: 7px solid $color-one;
          border-radius: 50%;
          width: 100px;
          height: 100px;
          position: fixed;
          left: 40%;
          top: 250px;
          animation: red-spinner 1s linear infinite;
          animation-duration: 400ms;
      }
  */
  .loadingscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 95%;
    -webkit-animation: loading 1s;
            animation: loading 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loading {
    width: 200px;
    height: 20px;
    border: 5px solid #9356DC;
    position: absolute;
    border-radius: 10px;
  }
  .loading .textload {
    font-family: "Shrikhand", cursive;
    margin-left: 15%;
    padding-top: 25px;
    position: absolute;
    font-size: 20px;
    color: #FF79DA;
  }
  .loading .ball {
    display: block;
    width: 20px;
    height: 100%;
    background-color: #99E2D0;
    -webkit-animation: slide 2s infinite ease-in-out alternate;
    animation: slide 2s infinite ease-in-out alternate;
    border-radius: 5px;
  }
  .btn-explorer {
    display: flex;
    justify-content: center;
  }
  button {
    max-width: 100%;
    background: linear-gradient(170deg, #ff79da, #9356dc);
    color: #ffffff;
    border-radius: 50px;
    border: none;
    padding: 15px 20px 15px 20px;
    box-shadow: 3px 2px 2px lightgrey;
  }
  .titre-section {
    margin-left: 10px;
    display: flex;
    width: 100%;
  }
  #Fonctionnement {
    width: 100%;
    margin: 20px;
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .carte-info {
    display: flex;
    width: 75%;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid #f2f2f2;
    padding: 6px;
    margin: 25px;
    box-shadow: 2px 4px 4px 2px lightgray;
    color: #000000;
  }
  .carte-info:hover {
    background-color: #f5edff;
    transform: scale(1.1);
    transition: 400ms;
    cursor: pointer;
  }
  .nomber {
    background-color: #9356dc;
    color: white;
    width: 10px;
    height: 10px;
    padding: 2px 6px 10px 7px;
    margin: 12px -25px;
    border-radius: 50px;
    text-align: center;
    font-size: 14px;
  }
  .icone-info {
    display: flex;
    padding: 5px 15px 0px 10px;
    -webkit-text-decoration: black;
            text-decoration: black;
  }
  .icone-info i {
    margin: 12px 5px 5px 40px;
    color: #989292;
  }
  .Titre {
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
  }
  #Restaurants {
    width: 100%;
    background-color: #eeeeee;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  #conteneur-Resto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-right: 25px;
    gap: 40px;
    overflow-anchor: none;
  }
  .carte-restaurant {
    width: 92%;
    height: 280px;
    border: 3px solid #ffffff;
    border-radius: 20px;
    background-color: #ffffff;
    overflow: hidden;
  }
  .carte-restaurant img {
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /*
  .Nouveau {
      color: #3b8468;
      background-color: #a9e0d1;
      font-weight: 500;
      padding: 10px;
      border-radius: 5px;
      width: 40px;
      position: absolute;
      right: 10%;
      bottom: 20px;
      font-size: 15px;
      box-shadow: #000000 0px 2px 2px;
      padding: $Padding;
  }



  /*.carte-restaurant-nouveau
  .Nouveau {
      content: "Nouveau";
      /* display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 25px;
      width: 80px;
      border-radius: 0;
      background-color: transparent;
      font-size: 12px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      color: #3a8266;
      background-color: #99E2D0;
      box-shadow: #000000 0px 6px 6px;
      z-index: 1;
      top: 15px;
      left: auto;
      right: 3%;
  }*/
  h2 {
    margin-left: 40px;
    margin-top: 10px;
  }
  .detail-carte-restaurant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .carte-restaurant-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*   margin-top: -20px;*/
    font-size: 14px;
    color: #000000;
  }
  .carte-restaurant-text p {
    margin-top: -10px;
    font-size: 13px;
  }
  .icone-coeur {
    font-size: 24px;
    margin-right: 25px;
  }
  /*
      &:hover {
          transition: opacity 1 0.3s ease-in-out;
          animation: coeur 2.5s linear forwards;
          opacity: 1;
      }

      .fas {
          opacity: 0;
          color: transparent;
          background: linear-gradient(170deg, #ff79da, #9356dc);
          background-clip: text;
          -webkit-background-clip: text;
          z-index: -1;

      }

      .far {
          background: linear-gradient(#9356DC, #FF79DA);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: black;
          overflow: hidden;
          z-index: 1;
      }
  }*/
  .coeur-full {
    color: #ffffff;
  }
  .coeur-empty {
    color: #000000;
  }
  .icone-coeur:hover .coeur-empty {
    color: #ffffff;
  }
  .icone-coeur:hover .coeur-full {
    background: -webkit-linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    position: relative;
    transition: 0.5s;
  }
  footer {
    max-width: 100%;
    background-color: #353535;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
  }
  .titre-footer {
    font-family: "shrikhand";
    font-size: 22px;
  }
  .lien-footer {
    color: #ffffff;
    text-decoration: none;
  }
  .icone-footer {
    margin: -40px 0px 0px -30px;
  }
  .contact {
    margin-top: 0px;
  }
}
/********************* mise en page Page Restaurant ***************/
@media (max-width: 768px) {
  .lien-retour {
    position: absolute;
    top: 35px;
    left: 10px;
    color: #000000;
    font-size: larger;
  }
  #Logo-page {
    max-width: 45%;
    font-size: 20px;
    padding: 20px 15px 30px 35px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 20%;
    top: 1%;
  }
  #Titre-de-page {
    font-family: "Shrikhand";
    font-size: 25px;
    display: flex;
    margin: 40px -20px 20px 0;
  }
  .titre-et-coeur {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .coeur-page {
    display: flex;
    margin-top: 45px;
    font-size: 25px;
  }
  h3 {
    font-size: 16px;
    margin-left: 20px;
  }
  #page-restaurant {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border: 3px solid #ffffff;
    background-color: #ffffff;
    border-radius: 60px 60px 0px 0px;
    position: relative;
    top: -50px;
    background: color #f4f4f4;
  }
  .carte-page {
    margin-top: 50px;
  }
  .carte-page img {
    width: 100%;
    height: 280px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  #Titre-article {
    font-size: 22px;
    margin-top: 12px;
    -webkit-animation: slideup 1s forwards;
    animation: slideup 1s forwards;
  }
  #Titre-article::after {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background-color: #99E2D0;
    position: absolute;
    left: 0;
  }
  .liste-menu {
    display: flex;
    flex-direction: column;
  }
  .liste-repas {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid #f2f2f2;
    margin: 10px;
    box-shadow: 2px 4px 4px 2px lightgray;
    color: #000000;
    -webkit-animation: slideup 5s forwards;
    animation: slideup 5s forwards;
  }
  .liste-texte {
    align-items: flex-start;
    margin-left: 0 -10px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .liste-texte p {
    margin-top: -10px;
    white-space: nowrap;
  }
  .prix-menu {
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 30px;
    margin-top: 30px;
    font-weight: bold;
  }
  .commande {
    display: flex;
    justify-content: center;
    padding: 20px 40px 20px 40px;
  }
  footer {
    background-color: #353535;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
  }
  .titre-footer {
    font-family: "shrikhand";
    font-size: 22px;
  }
  .lien-footer {
    color: #ffffff;
    text-decoration: none;
  }
  .icone-footer {
    margin: -40px 0px 0px -30px;
  }
  .contact {
    margin-top: 0px;
  }
}
/***********************version tablette*******************************/
@media (max-width: 992px) {
  body {
    max-width: 992px;
    font-family: "Roboto", "shrikhand";
  }
  .carte-info {
    display: flex;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid #f2f2f2;
    padding: 6px;
    margin: 25px;
    box-shadow: 2px 4px 4px 2px lightgray;
    color: #000000;
  }
  .carte-info:hover {
    background-color: #f5edff;
    transform: scale(1.1);
    transition: 400ms;
    cursor: pointer;
  }
  footer {
    max-width: 100%;
    background-color: #353535;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 60px;
  }
}/*# sourceMappingURL=media.css.map */