@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

@media (max-width:768px) {
    $color-one: #9356DC;
    $color-two: #FF79DA;
    $color-three: #99E2D0;
    $Padding: 20px;


    .lien-retour {
        position: absolute;
        top: 25px;
        left: 10px;
        color: #000000;
    }

    #Titre-de-page {
        font-family: "Shrikhand";
        font-size: 25px;
        display: flex;
        padding: 30px 20px;
        margin-top: 10px;
    }

    .coeur-page {
        position: relative;
        left: 320px;
        bottom: 70px;
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
        margin-left: 20px;
    }

    #page-restaurant {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        border: 3px solid #ffffff;
        background-color: #ffffff;
        border-radius: 60px 60px 0px 0px;
        position: relative;
        top: -50px;
        background: color #f4f4f4;
    }

    .carte-page img {
        width: 100%;
        height: 280px;
        object-fit: cover;
    }

    #Titre-article {
        font-size: 22px;
        margin-top: -15px;
        animation: slideup 1s forwards;

        * :after {
            content: "";
            width: 5px;
            height: 5px;
            background-color: $color-three;
            position: absolute;
            bottom: 20px;
            left: 0;
        }
    }

    .liste-menu {
        display: flex;
        flex-direction: column;
    }

    .liste-repas {
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        text-decoration: none;
        border: 2px solid #f2f2f2;
        margin: 12px;
        box-shadow: 2px 4px 4px 2px lightgray;
        color: #000000;
        animation: slideup 1s forwards;
    }

    .liste-texte {
        align-items: flex-start;
        margin-left: 0 -10px 0 0;
        overflow: hidden;
        text-overflow: ellipsis;

        p {

            margin-top: -10px;
            white-space: nowrap;

        }
    }

    .prix-menu {
        display: flex;
        align-items: flex-end;
        position: absolute;
        right: 30px;
        margin-top: 30px;
        font-weight: bold;
    }

    .commande {
        display: flex;
        justify-content: center;
        padding: 20px 40px 20px 40px;
    }

    @keyframes slideup {
        0% {
            transform: translateY(300px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }
}