$color-one: rgb(147,
        86,
        220);
$color-two: rgb(255,
        121,
        218);
$color-three: #99E2D0;
$color-white: #ffffff;
$padding: 20px;
$i: 3;
$couleur-coeur: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));


@mixin carte {
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid #f2f2f2;
    padding: 6px;
    margin: 25px;
    box-shadow: 2px 4px 4px 2px lightgray;
    color: #000000;
}

@mixin button {

    background: linear-gradient(170deg, #ff79da, #9356dc);
    color: #ffffff;
    border-radius: 40px;
    border: none;
    padding: 15px 20px 15px 20px;
    box-shadow: 0px 4px 4px 2px lightgrey;
}

@mixin shadow {
    box-shadow: 0px 4px 4px 2px lightgrey;
}

@mixin box {
    border-radius: 12px;
    border: 1px solid #f2f2f2;
    box-shadow: 6px 6px 6px 6px lightgrey;
}

@mixin border {
    border-radius: 0 15px 15px 0px;
}


@mixin Nouveau {
    width: 70px;
    height: 16px;
    color: #3b8468;
    background-color: #a9e0d1;
    text-align: center;
    align-items: center;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}