$color-one: #9356DC;
$color-two: #FF79DA;
$color-three: #99E2D0;
$color-white: #ffffff;
$padding: 20px;

@mixin carte-info {
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid #f2f2f2;
    padding: 6px;
    margin: 25px;
    box-shadow: 2px 4px 4px 2px lightgray;
    color: #000000;
}

@mixin button {
    /* max-width: 100%;*/
    background: linear-gradient(170deg, #ff79da, #9356dc);
    color: #ffffff;
    border-radius: 50px;
    border: none;
    padding: 15px 20px 15px 20px;
    display: flex;
    justify-content: center;

}

@mixin shadow {
    box-shadow: 0px 4px 4px 2px lightgrey;
}

@mixin box {
    border-radius: 12px;
    border: 1px solid #f2f2f2;
    box-shadow: 6px 6px 6px 6px lightgrey;
}

@mixin border {
    border-radius: 0 15px 15px 0px;
}

/*box-shadow: 1px 2px 2px 1px lightgrey;*/