@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

@import "./mixins.scss";


body {
    max-width: 1500px;
    font-family: "Roboto", "shrikhand";
    opacity: 10;
    animation: run-spinner 3s;
}

header {
    align-items: center;
    font-size: 24px;

}

#Logo {
    min-width: 25%;
    padding: 20px 100px 30px 100px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 30%;
    top: 1%;
}

.petit-texte {
    display: flex;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
}

.localisation {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    border-top: 2px solid #c5c1c1;
    background-color: #e4e2e1;
    padding: 20px;
    margin: 120px 0 10px 0;
}

.icone-maps {
    margin-right: 15px;
}

.localisation-txt {
    border: none;
    background-color: #e4e2e1;
    text-decoration: #000000;
    font-size: 16px;
    font-weight: bold;

}

.titre-du-site {
    display: flex;
    justify-content: center;
    font-size: 28px;
    text-align: center;
    overflow: hidden;
    margin-top: 20px;
    padding: 40px 40px 0px 40px;
}

h1 {
    display: flex;
    font-size: 20px;
    margin-top: 60px;
    justify-content: center;
}

/*
.loadspinner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    animation: run-spinner 1s forwards;
    animation-delay: 2.5s;
    animation-fill-mode: both;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid $color-three;
    border-top: 7px solid $color-one;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: fixed;
    left: 44%;
    top: 250px;
    animation: red-spinner 3s linear infinite;
}*/
.loadingscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 95%;
    animation: loading 1s;
    animation-fill-mode: both;
    animation-delay: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    width: 200px;
    height: 20px;
    border: 5px solid $color-one;
    position: absolute;

    border-radius: 10px;

    .textload {
        font-family: 'Shrikhand', cursive;
        margin-left: 15%;
        padding-top: 25px;
        position: absolute;
        font-size: 20px;
        color: $color-two;
    }

    .ball {
        display: block;
        width: 20px;
        height: 100%;
        background-color: $color-three;
        -moz-animation: slide 2s infinite ease-in-out alternate;
        -webkit-animation: slide 2s infinite ease-in-out alternate;
        -ms-animation: slide 2s infinite ease-in-out alternate;
        -o-animation: slide 2s infinite ease-in-out alternate;
        animation: slide 2s infinite ease-in-out alternate;
        border-radius: 5px;
    }

}

.btn-explorer {
    display: flex;
    justify-content: center;
}

button {
    max-width: 100%;
    background: linear-gradient(170deg, #ff79da, #9356dc);
    color: #ffffff;
    border-radius: 50px;
    border: none;
    padding: 15px 20px 15px 20px;
    box-shadow: 3px 2px 2px lightgrey;
}

#Fonctionnement {
    width: 100%;
    gap: 10px;
    margin: 60px 0px 50px 0px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.carte-info {
    min-width: 25%;
    display: flex;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid #f2f2f2;
    padding: 6px;
    margin: 25px;
    box-shadow: 2px 4px 4px 2px lightgray;
    color: #000000;

    &:hover {
        background-color: #f5edff;
        transform: scale(1.1);
        transition: 400ms;
        cursor: pointer;
    }
}

.nomber {
    background-color: #9356dc;
    color: white;
    width: 10px;
    height: 10px;
    padding: 2px 6px 10px 7px;
    margin: 12px -25px;
    border-radius: 50px;
    text-align: center;
    font-size: 14px;
}

.icone-info {
    display: flex;
    padding: 5px 15px 0px 10px;
    text-decoration: black;

    i {
        margin: 12px 5px 5px 40px;
        color: #989292;
    }
}

.Titre {
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
}

.titre-section {
    margin-left: 30px;
    display: flex;
    width: 100%;
}

#Restaurants {
    width: 100%;
    background-color: #eeeeee;
    padding-bottom: 100px;
    padding-top: 50px;

}

#conteneur-Resto {
    width: 100%;
    display: flex;
    justify-content: space-arround;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    /*margin: 20px;*/
    margin-left: 50px;
    overflow-anchor: none;
}

.carte-restaurant {
    min-width: 45%;
    height: 280px;
    border: 3px solid #ffffff;
    border-radius: 20px;
    background-color: #ffffff;
    overflow: hidden;

    &:hover {
        transform: scale(1.02);
        box-shadow: 1px 1px 1px 1px $color-two;
        transition: 0.5s;
    }

    img {
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }

}

.detail-carte-restaurant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.carte-restaurant-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 14px;
    color: #000000;
    margin-left: 15px;

    p {
        margin-top: -10px;
        font-size: 14px;
    }
}

.icone-coeur {
    font-size: 28px;
    margin-top: 10px;
}

/*
     &:hover {
        transition: 0.3s ease-in-out;
        animation: coeur 2.5s linear forwards;
        opacity: 1;
   * /

/* .fas {
        opacity: 1;
        color: transparent;
        background: linear-gradient(170deg, #ff79da, #9356dc);
        background-clip: text;
        -webkit-background-clip: text;
        transform: translateX(-100%);
        margin-right: 15px;

        &:hover {
            opacity: 0;
            transition: 0.3s ease-in-out;
            animation: coeur 2.5s linear forwards;
            -webkit-text-fill-color: transparent;
        }

    }

    .far {
        background: linear-gradient(#9356DC, #FF79DA);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: black;
        margin-right: -6px;

    }

}*/
.coeur-full {
    color: #ffffff;

}

.coeur-empty {
    color: #000000;
}

.icone-coeur:hover .coeur-empty {
    color: #ffffff;
    animation: coeur 2s linear infinite;
}

.icone-coeur:hover .coeur-full {
    background: -webkit-linear-gradient($color-two, $color-one);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    position: relative;
    transition: 0.5s;
}

.Nouveau {
    border-radius: 4px;
    font-size: 13px;
    padding: 12px;
    font-weight: 500;
    color: #3a8266;
    background-color: #99E2D0;
    position: relative;
    left: 75%;
    bottom: 200px;
}


footer {
    background-color: #353535;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
}

.titre-footer {
    font-family: "shrikhand";
    font-size: 22px;
}

.lien-footer {
    color: #ffffff;
    text-decoration: none;
}

.icone-footer {
    margin: -40px 0px 0px -30px;
}

.contact {
    margin-top: 0px;
}

/**************** Mise en page -page resaturant-**********/
body {
    max-width: 1500px;
    font-family: "Roboto", "shrikhand";
}

.lien-retour {
    position: absolute;
    top: 30px;
    left: 10px;
    color: #000000;
    font-size: larger;
}

#Logo-page {
    max-width: 25%;
    font-size: 20px;
    padding: 20px 15px 30px 35px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 20%;
    top: 1%;
    margin-bottom: 50px;
    transform: translateX(40%);

}

#Titre-de-page {
    font-family: "Shrikhand";
    font-size: 25px;
    display: flex;
    margin: 40px -20px 20px 0;
    font-weight: lighter;
    transform: translateX(-170%);
}

.titre-et-coeur {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 70px;

}

.coeur-page {
    display: flex;
    margin-top: 45px;
    font-size: 25px;
    transform: translateX(300px);

}

h3 {
    font-size: 16px;
    margin-left: 20px;
}

#page-restaurant {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border: 3px solid #ffffff;
    background-color: #ffffff;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    top: -50px;
    background: color #f4f4f4;
}

.carte-page {
    margin-top: 120px;
    border-top: 2px solid #c5c1c1;



    img {
        width: 100%;
        height: 350px;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

#Titre-article {

    font-size: 22px;
    margin-top: 0px;
    margin-left: 0px;
    animation: slideup 1s forwards;
    display: flex;

    justify-content: flex-start;
    text-transform: uppercase;
    color: #353535;
    font-weight: normal;
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 70px;
        height: 5px;
        background-color: $color-three;
        position: absolute;
        left: 10%;
        margin-top: 35px;
    }
}

#container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.Bloc-repas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 32%;
}

.liste-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    min-width: 32%;
    margin-left: 30px;
    animation: slideup 5s forwards;

}

.liste-repas {
    min-width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-basis: 100%;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid #f2f2f2;
    margin: 10px;
    box-shadow: 2px 4px 4px 2px lightgray;
    color: #000000;
    overflow: hidden;
    gap: 10px;
    overflow: hidden;
    transition: 0.7s ease-in-out;
    transition: 1s;
}

.liste-texte {

    align-items: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.liste-texte p {
    margin-top: -10px;
    margin-left: 20px;
    white-space: normal;

}

.prix-menu {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    align-self: flex-end;
    position: relative;
    top: -20px;
    left: 35%;

}


.commande {
    display: flex;
    justify-content: center;
    padding: 20px 40px 20px 40px;

    &:hover {
        transform: scale(1.1);
        transition: 0.2s;
        font-weight: bold;
    }
}

/***********Animation*******************/

/*@keyframes red-spinner {

    0% {
        opacity: 1;
        transform: rotate(0deg);
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        transform: rotate(360deg);
    }

    @keyframes run-spinner {

        from {
            opacity: 1;
        }

        to {
            opacity: 0;
            position: absolute;
        }
    }*/

@keyframes loading {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@-moz-keyframes loading {
    to {
        opacity: 0;
    }
}

@keyframes slide {
    to {
        margin-left: 90%;
    }

}

@-moz-keyframes slide {
    to {
        margin-left: 90%;
    }

}

@-webkit-keyframes slide {
    to {
        margin-left: 90%;
    }
}

@-ms-keyframes slide {
    to {
        margin-left: 90%;
    }
}

@-o-keyframes slide {
    to {
        margin-left: 90%;
    }
}

@keyframes coeur {
    0% {
        transform: scale3d(1, 1, 1);
    }

    35% {
        transform: scale3d(1.4, 1.4, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1);
    }

    65% {
        transform: scale3d(1.2, 1.2, 1);
    }

    80% {
        transform: scale3d(1.4, 1.4, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}